name: CI/CD - Build & Update Manifests

on:
  push:
    branches: [ "main" ]

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Setup QEMU
        uses: docker/setup-qemu-action@v3

      - name: Setup Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push image
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/hello-app:${{ github.sha }}

      # ✅ CONFIGURAÇÃO SSH
      - name: Setup SSH
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/id_ed25519
          chmod 600 ~/.ssh/id_ed25519
          ssh-keyscan github.com >> ~/.ssh/known_hosts
      - name: Update manifests repo (SSH)
        run: |
          git clone git@github.com:italolinux/ola-manifest.git ola-manifest
          cd ola-manifest
          sed -i "s| ${{secrets.DOCKER_USERNAME}}/hello-app:.*| ${{secrets.DOCKER_USERNAME}}/hello-app:${{ github.sha }}|g" deployment.yaml
          git add .
          git commit -m "ci: update image to ${{ github.sha }}"
          git push origin main

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v6
        with:
          token: ${{ secrets.TOKEN_PR}}
          commit-message: "ci: update image to ${{ github.sha }}"
          title: "Atualizar imagem para ${{ github.sha }}"
          body: "Atualização automática da imagem para ${{ github.sha }}"
          branch: "update-image-${{ github.sha }}"
          base: "main"
          path: "manifests"

